* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Figtree;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: "Figtree";
}

.container{
    border: 1px solid;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 8px 8px;
}

.blog-pic{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.badge{
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.container p{
    margin: 15px 0;
}

.container h1{
    font-size: 25px;
    font-weight: bold;
}

#content{
    color: hsl(0, 0%, 42%);
}

.card-foot{
    display: flex;
    font-weight: bold;
    gap: 20px;
    align-items: center;
}


.container h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
